<suite name="book-flight-framework">

    <!--    Test for 2 passengers-->
    <test name="book-flight-2-pass">
        <parameter name="noOfPassengers" value="2"/>
        <parameter name="expectedPrice" value="$1169 USD"/>
        <classes>
            <class name="com.flighttickets.tests.BookFlightTests"/>
        </classes>
    </test>

    <!--    Test for 3 passengers-->
    <test name="book-flight-3-pass">
        <parameter name="noOfPassengers" value="3"/>
        <parameter name="expectedPrice" value="$1753 USD"/>
        <classes>
            <class name="com.flighttickets.tests.BookFlightTests"/>
        </classes>
    </test>

</suite>